<h1>
  Questions
  <span class="right-align">
    <%= link_to "+", new_question_path, {class:"btn btn-success",role:"button"} %>
  </span>
</h1>

<table class="table">
  <thead>
    <tr>
      <th>Body</th>
      <th>Topic</th>
      <th>Level</th>
      <th>Exam</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.body %></td>
        <td><%= question.topic %></td>
        <td><%= question.level %></td>
        <td><%= question.exam_id %></td>
        <td><%= link_to 'Show', question %></td>
        <td><%= link_to 'Edit', edit_question_path(question) %></td>
        <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question', new_question_path %>
