<h1>
  Questions (<%= @questions.count %> total)
  <span class="right-align">
    <%= link_to "+", new_question_path, {class:"btn btn-success",role:"button"} %>
  </span>
</h1>

<table class="table">
  <thead>
    <tr>
      <th>Question</th>
      <th>Topic</th>
      <th>Level</th>
      <th>Exam</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= link_to question.formatted_body, question %></td>
        <td><%= question.topic %></td>
        <td><%= question.level %></td>
        <td><%= link_to Exam.find_by_id(question.exam_id).title, Exam.find_by_id(question.exam_id) %></td>
        <td><%= link_to 'Edit', edit_question_path(question) %></td>
        <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
