<h2>
  Question (id #<%= @question.id %>)
  <span class="right-align">
    <%= link_to "Edit", edit_question_path(@question), {class:"btn btn-primary",role:"button"} %>
  </span>
</h2>
<p>
  <strong>Options:</strong>
  <% @question.options.each do |o| %>
    <p><%= o.text %></p>
  <% end %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
