<h1>
  Topics
  <span class="right-align">
    <%= link_to "+", new_topic_path, {class:"btn btn-success",role:"button"} %>
  </span>
</h1>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Exams with this topic</th>
      <th>Questions with this topic</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <td><%= link_to topic.name, topic %></td>
        <td><%= exams_for_topic(topic) %></td>
        <td><%= questions_for_topic(topic) %></td>
        <td><%= link_to 'Edit', edit_topic_path(topic) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
