<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @exam.title %>
</p>

<p>
  <strong>Level:</strong>
  <%= @exam.level %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @exam.topic %>
</p>

<strong>Questions</strong>
<ol>
<% @exam.questions.each do |q| %>
  <li>
  <%= q.body %><br />
  <ul>
  <% q.options.each do |o| %>
    <li><%= o.text %></li>
  <% end %>
  </ul>
  </li>
<% end %>
</ol>
<%= link_to 'Edit', edit_exam_path(@exam) %> |
<%= link_to 'Back', exams_path %>
