<div class="jumbotron">
  <h1>CoJCL Test Generator</h1>
</div>
<div class="page-header">
  <h2>Tests</h2>
</div>
<% if @tests.empty? %>
  <%= content_tag :div, class:"well" do %>
    <h2>There are currently no tests saved. <%= link_to "New Test", new_test_path, class:"btn btn-lg btn-primary" %></h2>
  <% end %>
<% else %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th># of questions</th>
        <th>% Easy</th>
        <th>% Medium</th>
        <th>% Hard</th>
        <th>Controls</th>
      </tr>
    </thead>

    <tbody>
      <% @tests.each do |test| %>
        <tr>
          <td><%= test.title %></td>
          <td><%= test.questions.count %></td>
          <td>33%</td>
          <td>33%</td>
          <td>33%</td>
          <td><%= link_to 'Show', test %> | <%= link_to 'Edit', edit_test_path(test) %> | <%= link_to 'Delete', test, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
